<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>EDIT PAGE</title>
  </head>
  <body>
    <h1>EDIT PAGE OF <%= movie.title %></h1>

    <form action="/movies/<%= movie._id %>?_method=PUT" method="POST">
      <input type="text" name="movie[title]" value="<%= movie.title %>" />
      <input type="text" name="movie[desc]" value="<%= movie.desc %>" />
      <input type="text" name="movie[length]" value="<%= movie.length %>" />
      <button>SUBMIT</button>
    </form>
  </body>
</html>
