<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SHOW PAGE</title>
  </head>
  <body>
    <h1>SHOW PAGE of <%= movie.title %></h1>
    <h4><%= movie.title %></h4>
    <p><%= movie.desc %></p>
    <div><%= movie.length %></div>
    <a href="/movies/<%= movie._id %>/edit">EDIT</a>
    <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
      <button>DELTE THIS POST</button>
    </form>
  </body>
</html>
